@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-gradient-sm: rgba(250, 250, 250, 0.1);
  --white-gradient-md: rgba(250, 250, 250, 0.15);
  --white-gradient-lg: rgba(250, 250, 250, 0.2);
  --foreground: #0a0b0b;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Or your preferred background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#logo {
  width: 100px; /* Adjust to fit your logo */
  height: 100px;
  background-image: url("../../public/metallic_sphere.svg"); /* Adjust path */
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/* Monumnt text extended font */
/* Regular */
@font-face {
  font-family: "Monument Extended";
  font-weight: 400;
  src: url("../../public/fonts/monumentextended/MonumentExtended-Regular.otf");
}

/* ExtraBold */
@font-face {
  font-family: "Monument Extended";
  font-weight: 900;
  src: url("../../public/fonts/monumentextended/MonumentExtended-Ultrabold.otf");
}

/* General Sans Bold */
@font-face {
  font-family: "General Sans";
  font-weight: 700;
  src: url("/fonts/generalSans/GeneralSans-Bold.otf") format("opentype");
}

/* General Sans Semi Bold */
@font-face {
  font-family: "General Sans";
  font-weight: 600;
  src: url("/fonts/generalSans/GeneralSans-SemiBold.otf") format("opentype");
}

/* General Sans Medium */
@font-face {
  font-family: "General Sans";
  font-weight: 500;
  src: url("/fonts/generalSans/GeneralSans-Medium.otf") format("opentype");
}

/* General Sans Regular */
@font-face {
  font-family: "General Sans";
  font-weight: 400;
  src: url("/fonts/generalSans/GeneralSans-Regular.otf") format("opentype");
}

/* General Sans Light */
@font-face {
  font-family: "General Sans";
  font-weight: 300;
  src: url("/fonts/generalSans/GeneralSans-Light.otf") format("opentype");
}

/* General Sans Extra Light */
@font-face {
  font-family: "General Sans";
  font-weight: 200;
  src: url("/fonts/generalSans/GeneralSans-ExtraLight.otf") format("opentype");
}



h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
p.thin {
  font-weight: 200;
}
p.ultralight {
  font-weight: 100;
}
